body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.home-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-box {
  background: white;
  padding: 30px 40px;
  width: 340px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
}
